MY_BOT_TOKEN=
MY_CHAT_ID=

MY_STRIPE_SECRET_KEY=

MY_DOMAIN=

MY_POSTGRES_USER=
MY_POSTGRES_PASSWORD=
MY_POSTGRES_DATABASE=
MY_POSTGRES_LOCAL_PORT=
MY_POSTGRES_DOCKER_PORT=5
MY_TIME_ZONE=

MY_SPRING_LOCAL_PORT=
MY_SPRING_DOCKER_PORT=
MY_DEBUG_PORT=
